<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://countpostsfunctionapp1054add6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/78e12758-4b90-4a15-b87a-6bfc2cb6ce5a/resourceGroups/MyResourceGroup/providers/Microsoft.Web/sites/CountPostsFunctionApp1054add6</ResourceId>
    <UserName>$CountPostsFunctionApp1054add6</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://countpostsfunctionapp1054add6.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>